 <br>
 <div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Nueva Persona Juridica</h3>
    </div>
    <div class="card-body">
      <form action="">

        <div class="form-group">
          <label for="businessName">Razon Social:</label>
          <input [(ngModel)]="persona.businessName" name="businessName" type="text" class="form-control">
        </div>

        <div class="form-group">
          <label for="fundationYear">Año Fundacion:</label>
          <input [(ngModel)]="persona.fundationYear" name="fundationYear" type="number" class="form-control">
        </div>

        <div class="form-group">
          <label for="rut">RUT:</label>
          <input [(ngModel)]="persona.rut" name="rut" type="number" class="form-control">
        </div>

        <button (click)="add()" class="btn btn-danger">Agregar</button>
        <button (click)="back()" class="btn btn-ligth">Cancelar</button>
        
      </form>
    </div>
  </div>
</div>