<div class="container">
  <br>
  <h1> Examen técnico para Tecso Coop</h1>
  <hr>

  <h4><a href="https://www.linkedin.com/in/gabiiespina/"  target="_blank">> Gabriel Espina</a></h4>

  <hr>
  <span>En las opciones del Navbar se encuentran : 
    <ul>
      <li><strong>Modelado:</strong> Para ver la mejora del diagrama en un mejor formato. Igualmente se encuentra adjunto como pdf en <a href="https://github.com/GabiiCata/tecso-cuentas-corrientes/blob/master/modelado.pdf" target="_blank">github</a> y en la <a href="{{url}}" target="_blank">pagina original </a>. Debajo del modelo se encuentra una lista de anotaciones que ayudan a la lectura del diagrama.</li>
     
      <li><strong>Desarrollo:</strong> Cuenta con dos secciones. Una con el listado de Personas Físicas y Juridicas, y por el otro, el listado de Cuentas Corrientes y sus Movimientos.</li>
    </ul>
  </span>
</div>