<div class="container">
  <br>
  <h1>Cuentas Corrientes</h1>
  <hr>
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <button (click)="list()" type="button" class="btn btn-outline-dark boton">Actualizar Lista</button>
    <button (click)="add()" type="button" class="btn btn-outline-dark boton"> Agregar </button>
  </div>
</div>
<br>
<div class="container">
  <table class="table table-striped">
    <thead>
      <th>N° Cuenta</th>
      <th>Moneda</th>
      <th>Saldo</th>
      <th>Movimientos</th>
      <th>Accion</th>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{account.accountNumber}}</td>
        <td>{{account.currency}}</td>
        <td>$ {{account.balance}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-secondary" (click)="movements(account.id)">Ver movimientos</button>
          </div>
        </td>

        <td>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">

            <button type="button" class="btn btn-warning" (click)="edit(account.id)">Editar</button>
            <button type="button" class="btn btn-danger" (click)="delete(account)">Eliminar</button>
          </div>
        </td>


      </tr>
    </tbody>
  </table>

  <div>
    <button class="btn btn-light" (click)="back()">
      <-- Volver</button>
  </div>

</div>