<div class="container">
    <hr>
    <ul class="list-group">
        <li class="list-group-item" routerLink="/listar-personas-juridicas">
            Ejercicio 1 - Titulares de Cuentas Corrientes 
        </li>

        <li class="list-group-item" routerLink="/modelado">
            Ejercicio 1 - Titulares de Cuentas Corrientes 
        </li>
        <li class="list-group-item" routerLink="/modelado">
            Ejercicio 1 - Titulares de Cuentas Corrientes 
        </li>
        <li class="list-group-item" routerLink="/modelado">
            Ejercicio 1 - Titulares de Cuentas Corrientes   
        </li>
    </ul>
    <hr>

    <div>
        <button class="btn btn-light" routerLink="/"><-- Volver</button>
    </div>

</div>

