<div class="container">
    <br>
    <h1>Ejericios de Desarrollo</h1>
    <hr>
    <ul class="list-group">
        <li class="list-group-item" routerLink="/listar-personas-juridicas">
            Listado de Personas Juridicas 
        </li>

        <li class="list-group-item" routerLink="/listar-personas-fisicas">
            Listado de Personas Fisicas
        </li>
        <hr>
        <li class="list-group-item" routerLink="/listar-cuentas-corrientes">
            Cuentas Corrientes - Movimientos
        </li>
    </ul>
    <hr>

    <div>
        <button class="btn btn-light" routerLink="/"><-- Volver</button>
    </div>

</div>

