 
 
<div class="container">
  <br>
  <h1>Titulares de cuentas corrientes</h1>
<hr>
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <button (click)="list()" type="button" class="btn btn-outline-dark boton">Actualizar Lista</button>
    <button (click)="add()" type="button" class="btn btn-outline-dark boton"> Agregar </button>
  </div>
</div>
<br>
<div class="container">
  <table class="table table-striped">
    <thead>
      <th>Razon Social</th>
      <th>Año de fundacion</th>
      <th>RUT</th>
      <th>Accion</th>
    </thead>
    <tbody>
      <tr *ngFor="let legalPerson of legalPersons">
        <td>{{legalPerson.businessName}}</td>
        <td>{{legalPerson.fundationYear}}</td>
        <td>{{legalPerson.rut}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-warning" (click)="edit(legalPerson.id)">Editar</button>
            <button type="button" class="btn btn-danger" (click)="delete(legalPerson)">Eliminar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <button class="btn btn-light" (click)="back()"><-- Volver</button>
</div>

</div>